*.o
*.axf
*.exe
*.so
*.map
*.uvguix.*
labs/lab1b_ex/Objects
labs/lab2_ex/Objects
labs/lab3_ex/Objects
labs/lab4_ex/Objects
labs/lab1b_ex/Listings
labs/lab2_ex/Listings
labs/lab3_ex/Listings
labs/lab4_ex/Listings
labs/lab2a_ex
labs/lab2b_ex
JLinkLog.txt
.vscode
